@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
}

.title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
}

.card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.row span {
    color: #555;
}

.status-arrumada {
    color: #1E90FF;
    font-weight: bold;
}

.valor-card {
    background: #e8f7ed;
    border-left: 5px solid #2ecc71;
    text-align: center;
}

.valor {
    font-size: 32px;
    font-weight: bold;
    color: #2ecc71;
    margin-top: 10px;
}

.btn-confirmar {
    width: 100%;
    background: #28a745;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-confirmar:hover {
    background: #218838;
}
