h3 {
    color: var(--color-rosa-3);
    padding-bottom: 1.5rem;
}

.filtros-chamados {
    border-bottom: 1px solid #e2e2e2f3;
    padding: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
}

.filtros-chamados select {
    width: max-content;
}

.painel-funcionario {
    height: 80vh !important;
}

.acoes-funcionario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}