h3 {
    color: var(--color-rosa-3);
    padding-bottom: 1.5rem;
}

.filtros-chamados {
    border-bottom: 1px solid #e2e2e2f3;
    padding: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
}

.filtros-chamados select {
    width: max-content;
}

.painel-funcionario {
    height: 80vh !important;
}

.acoes-funcionario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.codigo {
    background-color: rgb(202, 255, 171);
    color: rgb(32, 87, 0);
    text-align: center;
    border-radius: 15px;
    padding: 2px 5px 2px 5px;
}

.acao {
    color: var(--color-roxo-6);
    text-decoration: underline;
}