<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Olá, Bem-vindo</h2>
            <p class="description description-primary">Para se conectar o nosso sistema</p>
            <p class="description description-primary">Cadastre-se com as suas informações</p>
            <button class="btn btn-primary" routerLink="/cadastro">cadastro</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Login</h2>
            
            <form class="form" #formLogin="ngForm">

                <label class="label-input" for="email">
                    <input type="email" 
                           placeholder="Email" 
                           name="email" 
                           [(ngModel)]="login.email" 
                           #email="ngModel" 
                           required>
                </label>
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert-danger">
                    <div *ngIf="email.errors['required']">
                        O e-mail é obrigatório.
                    </div>
                </div>

                <label class="label-input" for="senha">
                    <input type="password" 
                           placeholder="Senha"
                           name="senha"
                           [(ngModel)]="login.senha"
                           #senha="ngModel"
                           required>
                </label>
                <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert-danger">
                    <div *ngIf="senha.errors['required']">
                        A senha é obrigatória.
                    </div>
                </div>

                <button class="btn btn-second" 
                        (click)="logar()" 
                        [disabled]="!formLogin.form.valid">
                    Entrar
                </button>
            </form>
        </div></div></div>