<app-nav></app-nav>

<div class="container">
  <h2 class="titulo">Detalhes da Solicitação</h2>

  @if (solicitacao) {
    <section class="detalhes">
      
      <div><strong>Nº do Pedido:</strong> {{ solicitacao.id }}</div>
      <div><strong>Cliente:</strong> {{ solicitacao.usuario.nome }}</div>
      <div><strong>Status:</strong> {{ solicitacao.estadoChamado }}</div>
      <div><strong>Data de Abertura:</strong> {{ solicitacao.dataHora | date:'dd/MM/yyyy HH:mm' }}</div>
      <div><strong>Equipamento:</strong> {{ solicitacao.descricaoEquipamentos }}</div>
      <div><strong>Categoria:</strong> {{ nomeCategoria }}</div>
      
      <div class="descricao-box">
        <strong>Descrição do Defeito:</strong>
        <p>{{ solicitacao.descricao }}</p>
      </div>

      <section class="historico">
        <h3>Histórico de Andamentos</h3>
        <ul>
          <li>
            <span class="data">{{ solicitacao.dataHora | date:'dd/MM/yyyy HH:mm' }}</span>
            <span class="acao">Solicitação Criada</span>
          </li>
          </ul>
      </section>

      <section class="acoes">
        <button class="btn btn-secondary" routerLink="/dashboard">Voltar</button>

        @switch (solicitacao.estadoChamado) {
          
          @case ('ORCADA') { 
            <div>
              <button class="button-aprovar" (click)="this.abrirOrcamento() ">
                Visualizar Orçamento
              </button>
            </div>

            @if (visualizarOrcamento) {
              <app-visu-orcamento [dados]="solicitacao.id" (close)="fecharOrcamento()"></app-visu-orcamento>
            }
          }

          @case ('APROVADA') {
            <div class="status-badge sucesso">Em Manutenção</div>
          }

          @case ('REJEITADA') {
            <div>
               <button class="button-resgatar" (click)="resgatarServico(solicitacao.id)">Resgatar Serviço</button>
            </div>
          }

          @case ('ARRUMADA') {
            <div>
              <button class="button-pagar" [routerLink]="['/pagamento']">
                Pagar Serviço
              </button>
            </div>
          }

          @case ('REDIRECIONADA') {
            <div>
              EM MANUNETENÇÃO
            </div>
          }

           @case ('PAGA') {
            <div>
              <p>PAGAMENTO EFETUADO, AGUARDANDO PAGAMENTO</p>
            </div>
          }

          @default {
            <div class="status-badge">Aguardando Análise</div>
          }
        }
      </section>

    </section>
  } 
  @else {
    <div class="loading">
      <p>Carregando detalhes da solicitação...</p>
    </div>
  }
</div>