table th {
    color: var(--color-roxo-6) !important;
}

tbody tr:hover {
    cursor: pointer;
}

tbody tr:hover td {
    color: var(--color-roxo-5);
}

table tbody tr:nth-child(odd) td {
    background-color: #f6f6f6;
}

.table tr td {
    border-bottom-width: 0 !important;
}

td div.codigo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1px;
    border-radius: 15px;
    padding: 2px;
}

td div.aberta {
    background-color: rgb(224, 224, 224);
    color: black;
}

tbody tr:hover td {
    background-color: var(--color-roxo-1) !important;
    transition: 0.3s;
}

tbody tr td {
    align-items: center;
    vertical-align: middle !important;
    transition: 0.3s;
}

.btn-xs {
    padding: 6px 14px;
    font-size: 10px;
    width: auto;
    border-radius: 12px;
}

td button {
    outline: none;
    border: none;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: min-content;
    padding: 2px 5px;
    color: var(--color-rosa-3) !important;
    background-color: transparent;
}

.table-fixed {
    table-layout: fixed;
}

table td,
table th {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

@media (max-width: 768px) {

    table td,
    table th {
        font-size: 11px;
        max-width: 120px;
    }
}