.panel {
    border-radius: 15px;
    border: none;
    background-color: #ffffff;
    gap: 0.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    /* roubei do thiago essa box shadow */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.103);
}

div.panel svg {
    width: 18px !important;
    height: 18px !important;
}

div.panel .title {
    font-size: 1.225rem;
    font-weight: 500;
    display: flex;
    text-align: left;
    align-items: center;
    gap: .5rem;
}

.p-title {
    padding: 1.1rem;
}

.p {
    padding: 1.2rem;
}