.panel {
    border-radius: 10px;
    background-image: linear-gradient(var(--color-rosa-1) 40%, var(--color-roxo-4) 100%);
    gap: 0.5rem;
    padding: 3px;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    color: var(--color-roxo-6)
}

.content {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 1.125rem;
    text-align: justify;
}