button, button:hover {
    /* aplicado a qualquer tipo */
    border-radius: 8px;
    padding: 0.45rem;
    font-size: 16px;
    border: none;
    outline: none;
    transition: 0.3s;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

/* atributo [outlined] = false (default) */
.basico {
    background-color: var(--color-roxo-5);
    color: white;
}
.basico:hover {
    background-color: var(--color-rosa-3);
}

/* atributo [outlined] = true */
.outlined {
    background-color: transparent;
    border: 2px solid var(--color-roxo-5);
    color: var(--color-roxo-5);
}
.outlined:hover {
    background-color: var(--color-rosa-3);
    border: 2px solid transparent;
    color: white;
}