.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 90vh;
}

.card.p-4 {
  background-color: #fff;
  border-radius: 15px;
  width: 900px;
  max-width: 90%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(130, 66, 190, 0.5); 
  text-align: center;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #8242be; 
  margin-bottom: 20px;
}

.form-input-group {
  margin-bottom: 1.2rem;
  width: 100%;
}

.form-input-group label {
  color: #7f8c8d;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.form-input-group .form-control,
.form-input-group .form-select {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
  border-radius: 4px;
  padding-left: 10px;
  color: #000;
  font-size: 1rem;
}

.form-input-group textarea.form-control {
    height: auto;
    padding-top: 10px;
}

.form-input-group .form-control:focus,
.form-input-group .form-select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(130, 66, 190, 0.3);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.form-row .form-input-group {
  flex: 1; 
  min-width: 250px; 
}

.btn.btn-primary {
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  padding: 12px 30px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  border: 1px solid transparent;
  background-color: #8242be;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.btn.btn-primary:hover {
  background-color: #fff;
  color: #8242be;
  border: 1px solid #8242be;
}

.btn.btn-primary:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.text-danger {
  font-size: 12px;
  color: #dc3545;
  margin-top: 5px;
  text-align: left;
}


@media (max-width: 600px) {
  .form-row .form-input-group {
    flex-basis: 100%;
    gap: 0;
  }
  
  .form-row {
    gap: 0;
  }

  .card.p-4 {
    padding: 20px;
  }

  .card-title {
    font-size: 22px;
  }
}