.filtros-chamados {
    border-bottom: 1px solid #e2e2e2f3;
    padding: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
}

.filtros-chamados select {
    width: max-content;
}

.painel-funcionario {
    height: 80vh !important;
}

.acao {
    color: var(--color-roxo-6);
    text-decoration: underline;
}

.flex {
    display: flex;
}

.gap {
    gap: 10px;
}

.base-input {
    display: flex;
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: 5px 7px;
    border: 1px solid var(--color-roxo-3);
}

.data-input {
    width: 60% !important;
}

.input-div {
    width: 100%;
}

.fundo-modal {
    background-color: var(--color-roxo-1);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.jce {
    justify-content: end;
}

.btn {
    border-radius: 10px;
    padding: 7px 10px;
    outline: none;
}

.btn-div {
    font-size: 24px !important;
    display: flex;
    gap: 8px;
    justify-content: end;
}


.btn-cinza {
    color: white;
    background-color: gray;
}

.btn-marrom {
    color: white;
    background-color: brown;
}

.btn-amarelo {
    color: white;
    background-color: yellow;
}

.btn-roxo {
    color: white;
    background-color: purple;
}

.btn-alaranjado {
    color: white;
    background-color: orange;
}

.center {
    justify-content: center;
}

.p-top {
    padding-top: 15px
}

h3 {
    padding-bottom: 0.25rem;
}

.m-top {
    margin-top: 8vh;
}

.btn-border {
    --gradient-shown-1: rgba(218, 179, 255, 0.75);
    --gradient-shown-2: rgba(237, 179, 255, 0.75);
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(var(--gradient-shown-1) 40%, var(--gradient-shown-2) 100%);
    padding: 0px;
    transition: 0.2s;
}

.btn-border-hide {
    background-color: transparent;
    padding: 4px;
    transition: 0.2s;
}

.btn-border-hide:hover {
    padding: 0px;
    transition: 0.3s;
}

.btn-border-hide:hover div.btn-border {
    padding: 4px;
    transition: 0.3s;

}

.title-row {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 50px;
}

.title-row h3 {
    color: var(--color-rosa-3);
    margin-bottom: 0;
}

.btn-branco {
    padding: 5px 7px;
    background-color: white;
    color: black;
    border: 2px solid rgb(224, 224, 224);
    transition: 0.3s;
}

.btn-branco:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    border: 2px solid black;
}

.template-center {
    display: flex;
    justify-content: center;
}