<app-nav></app-nav>

<div class="container m-top">
    <div class="row justify-content-center painel-funcionario">
        <div class="col-3">
            <painel-acoes-funcionario />
        </div>
        <div class="col-8">
            <panel>
                <div class="title-row">
                    <h3 class="">Funcionarios</h3>
                    <button (click)="openAdicionarFuncionario()" class="btn btn-verde">Adicionar</button>
                </div>
                <ng-template #templateEditar let-row let-emitter="emitter">
                    <div class="template-center">
                        <button class="btn btn-branco" (click)="emitter.emit(row)">editar</button>
                    </div>
                </ng-template>
                <ng-template #templateCodigo let-row>
                    <div class="template-center">
                        {{ row.id }}
                    </div>
                </ng-template>
                <app-table-chamado (action)="openEditarFuncionario($event)" [colunas]="[
                    { id: 'id', header: 'ID', render: templateCodigo, headerStyle: 'col-2 text-center' },
                    { id: 'nome', header: 'nome' },
                    { id: 'email', header: 'email'},
                    { id: 'dataNascimento', header: 'nascimento', headerStyle: 'col-2'},
                    { id: 'acao', header: 'acao', render: templateEditar, headerStyle: 'col-2 text-center'}
                ]" [data]="data" />
            </panel>
        </div>
    </div>
    @if (modalEditarFuncionarioVisible) {
    <app-modal (closeModalEvent)="closeEditarFuncionario()">
        <h4>Editar Funcionario</h4>

        <form [formGroup]="updateFuncForm" (ngSubmit)="updateFuncionario()">
            <div class="fundo-modal gap">
                <div class="flex gap">
                    <div class="input-div">
                        <span>Nome</span>
                        <input class="base-input" formControlName="nome">
                    </div>
                    <div class="input-div data-input">
                        <span>Nascimento</span>
                        <input class="base-input" formControlName="dataNascimento">
                    </div>
                </div>
                <div class="input-div">
                    <span>Email</span>
                    <input type="email" class="base-input" formControlName="email">
                </div>
                <div class="input-div">
                    <span>Senha</span>
                    <input type="password" class="base-input" formControlName="senha">
                </div>
            </div>
            <div class="btn-div p-top">
                <button (click)="openRemoverFuncionario()" type="button" class="btn btn-vermelho">remover</button>
                <button type="submit" class="btn btn-verde">salvar</button>
            </div>
        </form>
    </app-modal>
    }

    @if (modalRemoverFuncionarioVisible) {
    <app-modal (closeModalEvent)="closeRemoverFuncionario()">
        <h3>Remover Funcionario?</h3>
        <p>Tem certeza que deseja remover o(a) funcionario(a) "{{ selectedFuncionario!.nome }}"?</p>
        <div class="btn-div">
            <button (click)="removeFuncionarioByID(selectedFuncionario!.id)" class="btn btn-vermelho">remover</button>
            <button (click)="closeRemoverFuncionario()" class="btn btn-verde">cancelar</button>
        </div>
    </app-modal>
    }

    @if (modalAdicionarFuncionarioVisible) {

    <app-modal (closeModalEvent)="closeAdicionarFuncionario()">
        <h4>Adicionar Funcionario</h4>

        <form [formGroup]="addFuncFrom" (ngSubmit)="addFuncionario()">
            <div class="fundo-modal gap">
                <div class="flex gap">
                    <div class="input-div">
                        <span>Nome</span>
                        <input class="base-input" formControlName="nome">
                    </div>
                    <div class="input-div data-input">
                        <span>Nascimento</span>
                        <input class="base-input" formControlName="dataNascimento">
                    </div>
                </div>
                <div class="input-div">
                    <span>Email</span>
                    <input type="email" class="base-input" formControlName="email">
                </div>
                <div class="input-div">
                    <span>Senha</span>
                    <input type="password" class="base-input" formControlName="senha">
                </div>
            </div>
            <div class="btn-div p-top">
                <button (click)="closeAdicionarFuncionario()" type="button" class="btn btn-vermelho">cancelar</button>
                <button type="submit" class="btn btn-verde" [disabled]="!addFuncFrom.valid">salvar</button>
            </div>
        </form>
    </app-modal>
    }

</div>